.new-cost {
    background-color: #b6def1;
    padding: 1rem;
    margin: 2rem auto;
    width: 70rem;
    max-width: 95%;
    border-radius: 10PX;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}


.new-cost button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #2a5b84;
    background-color: #2a5b84;
    color: #fefae1;
    border-radius: 10px;
    margin-right: 3px;
}

.new-cost button:hover, 
.new-cost button:active {
    border-color: #2a5b84;
    background-color: #778794;
}


/* delete */
.cost-item__descriptn{
    .cost-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        margin: 1rem 0;
        background-color: #bd8025;
    }
    
}