.card {
    border-radius: 10px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}

.cost-item__descriptn{
    .cost-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        margin: 1rem 0;
        background-color: #bd8025;
    }
    
}